<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div style="text-align: center; margin-top: 250px">
        <h1 style="font-size: 50px; margin-bottom: 15px"><code>4 0 0</code></h1>
        <h1 style="margin: 0; padding: 0; font-size: 35px"><code>Bad Request</code></h1>
    <h2 style="font-size: 25px"><a href="/" style="text-decoration: underline #993333; color: red"><code>Home</code></a></h2>
    </div>
</body>
</html>